<% layout("layout") %>
    <style>
        @media screen and (max-width: 600px) {
            #icon {
                margin-left: 18vw;
            }
        }
        
        @media screen and (min-width:600px) and (max-width:2400px) {
            #icon {
                margin-left: 17vw;
            }
        }

        
    </style>

    <%- include ./part/headerflex.ejs  %>

    <div class="main_content">
        <div class="container">
            <div class="lg:flex lg:space-y-10">
                <div class="lg:w-3/4 lg:px-20 space-y-12">
                    <!-- <div class="bg-white shadow border border-gray-100 rounded-lg dark:bg-gray-900 lg:mx-0 p-4" uk-toggle="target: #create-post-modal">
                        <div class="flex space-x-3">
                            <img src="../../../front/images/avatars/avatar-2.jpg" class="w-10 h-10 rounded-full">
                            <input placeholder="Lütfen eklemek istediğiniz içeriği giriniz." v-model="title" class="bg-gray-100 hover:bg-gray-200 flex-1 h-10 px-6 rounded-full">
                        </div>
                    </div> -->
                    <div style="overflow: auto; white-space: nowrap; margin-top: -24px;">
                        <% etiket.forEach(element => { %>
                            <a href="/sozluk/<%= element.tag %>" style="text-transform: lowercase; display: inline-block;
                                text-align: center;
                                margin: 5px;
                                background-color: #E3F2FD;
                                border: 1px solid #0091EA;
                                color: #0D47A1;
                                text-decoration: none;" class="bg-gray-100 py-1.5 px-4 rounded-full">
                                <b><%= element.tag %></b>
                            </a>
                        <% }) %>
                    </div>
                    <hr>
                    <br>
                    <div class="flex justify-between relative md:mb-4 mb-3" style="margin-top: -5px;">
                        <div class="flex-1">
                            <p class="text-center" style="font-family: 'Shadows Into Light', cursive !important; font-size: 20pt !important; color: steelblue;"> <b>Kesfet</b> </p>
                            <!-- <nav class="cd-secondary-nav border-b md:m-0 -mx-4">
                            <ul>
                                <li class="active"><a href="#" class="lg:px-2"> Popular </a></li>
                                <li><a href="#" class="lg:px-2"> Featured </a></li>
                                <li><a href="#" class="lg:px-2"> Recent </a></li>
                                <li><a href="#" class="lg:px-2"> Unanswered </a></li>
                            </ul>
                        </nav> -->
                        </div>

                    </div>
                    <hr style="background-color: steelblue; height: 1px; border: 0; margin-bottom: 10px;">
                    <ul class="space-y-6" >
                        <% sozluk.forEach(element => { %>
                            <li style="margin-top: 4px;">
                            <div class="flex items-start pl-3 space-x-4" style="margin-left: -2vw;">
                                        <!-- <a href="/profil">
                                        <img src="../../../front/images/avatars/avatar-2.jpg" style="width: 40px; height: 40px;" class="rounded-full">
                                        </a> -->
                                <a href="/single/<%= element._id %>">
                                        
                                        <div class="flex-1">
                                            <!-- <h3 class="text-lg font-semibold line-clamp-1"> -->
                                            <h3 class="text-lg font-semibold">
                                                <%= element.title %>
                                            </h3>
                                            <p class="text-sm text-gray-400 mb-2"> Yazar: <span data-href="%40tag-dev.html"> <%= element.user.item.name %> </span> |
                                                <%= moment(element.createdAt,"ddd MMM DD YYYY HH:mm:ss GMT Z'").fromNow(true) %> önce </span> <span style="float: right; text-align: right;" class="text-sm"> <b> 123 </b> </span>
                                            </p>
                                            <!-- <div class="row" style="margin-top: -9px; margin-left: 1px;">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class="flex items-center">
                                                                <ion-icon name="logo-facebook"></ion-icon>
                                                                <span class="text-sm"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="flex items-center">
                                                                <ion-icon style="padding-left: 16vw;" name="logo-twitter"></ion-icon>
                                                                <span class="text-sm"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="flex items-center">
                                                                <ion-icon style="padding-left: 16vw;" name="logo-whatsapp"></ion-icon>
                                                                <span class="text-sm"></span>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div class="flex items-center">
                                                                <ion-icon style="padding-left: 16vw;" name="chatbubble-ellipses-outline"></ion-icon>
                                                                <span class="text-sm"><%= element.comment.length %></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                        </div> -->
                                </a>

                                    </div>
                                    </div>
                                    
                            </li>
                            <hr style="margin-top: -0px;">
                            <% }) %>
                    </ul>
                    <!-- <div class="flex flex-wrap gap-1 responsive-tab">
                        <img src="../../../banner.png" style="width: 100%;" class="img-responsive">
                    </div> -->
            </div>
                
                <!-- <div id="son" class="lg:w-1/4 w-full flex-shrink-0">

                    <div uk-sticky="offset:100" class="uk-sticky">

                        <h2 class="text-2xl font-semibold mb-3"> Son Eklenen Konular </h2>
                        <img src="../../banner.jpg" alt="">
                        <ul>
                            <% sozluk.forEach(element => { %>
                                <li>
                                    <a href="/single/<%= element._id %>" class="hover:bg-gray-100 rounded-md p-2 -mx-2 block">
                                        <h3 class="font-medium line-clamp-2">
                                            <%= element.title %>
                                        </h3>
                                        <div class="flex items-center my-auto text-xs space-x-1.5">
                                            <div>
                                                <%= moment(element.createdAt,"ddd MMM DD YYYY HH:mm:ss GMT Z'").fromNow(true) %> önce</div>
                                            <div class="pb-1"> . </div>
                                            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                                            <div>
                                                <%= element.comment.length %>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <% }) %>
                        </ul>
                        <br>

                        <h4 class="text-xl font-semibold mb-3"> Etiketler </h4>

                        <div class="flex flex-wrap gap-2">
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> 🔵🟠 GÜNDEM</a>
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> 🎞🍿 FİLM</a>
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> 🛍 ALIŞVERİŞ</a>
                            <a href="#" class="bg-gray-100 py-1.5 px-4 rounded-full"> ⚽️🏀🏐 SPOR</a>
                        </div>
                    </div>
                </div> -->
        </div>

        </div>
        <a @click="konuEkle()" style="color: white;" hidden class="bg-blue-600 flex h-9 items-center justify-center rounded-lg text-white px-12 font-semibold">
            Paylaş </a>
        <div id="create-post-modal" class="create-post" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical rounded-lg p-0 lg:w-5/12 relative shadow-2xl uk-animation-slide-bottom-small">

                <div class="text-center py-4 border-b" v-if="yyy == null">
                    <h3 class="text-lg font-semibold"> Sözlüğe konu ekliyorsunuz. </h3>
                    <button class="uk-modal-close-default bg-gray-100 rounded-full p-2.5 m-1 right-2" type="button" uk-close uk-tooltip="title: Close ; pos: bottom ;offset:7"></button>
                </div>
                <div class="text-center py-4 border-b" style="background-color: #03A9F4" v-if="yyy == true">
                    <h3 class="text-lg font-semibold" style="color: white;"> Yorumunuz başarıyla eklendi. </h3>
                    <!-- <button class="uk-modal-close-default bg-gray-100 rounded-full p-2.5 m-1 right-2" type="button" uk-close uk-tooltip="title: Close ; pos: bottom ;offset:7"></button> -->
                </div>
                <div class="flex flex-1 items-start space-x-4 p-5">
                    <!-- <img src="../../../front/images/avatars/avatar-2.jpg" class="bg-gray-200 border border-white rounded-full w-11 h-11"> -->
                    <div class="flex-1 pt-2" style="border: 1px solid cornflowerblue; border-radius: 20px;">
                        <textarea v-model="title" class="uk-textare text-black shadow-none focus:shadow-none text-xl font-medium resize-none" rows="14"  placeholder="Sözlüğe konu ekliyorsunuz"></textarea>
                        
                    </div>
                </div>
                
                <div class="bsolute bottom-0 p-4 space-x-4 w-full">
                    <ion-icon name="link-outline" class="text-3xl" style="padding-left: 10px;"></ion-icon>
                    <ion-icon name="book-outline" class="text-3xl" style="padding-left: 10px;"></ion-icon>
                </div>
                <div class="flex items-center w-full justify-between p-3 border-t">

                    <select v-model="tag" class="selectpicker mt-2 col-4 story">
                        <% etiket.forEach(element => { %>
                            <option> <%= element.tag %> </option>
                            <% }) %>
                    </select>

                    <div class="flex space-x-2">
                        <!-- <a @click="konuEkle()" style="color: white;" class="bg-blue-600 flex h-9 items-center justify-center rounded-md text-white px-5 font-medium">
                          Paylaş </a> -->
                          <img @click="konuEkle()" style="height: 30px;" src="../../paylas.png" class="">
                    </div>

                    <!-- <a @click="konuEkle()" style="color: white;" hidden class="bg-blue-600 flex h-9 items-center justify-center rounded-lg text-white px-12 font-semibold">
                        Paylaş </a> -->
                        <img @click="konuEkle()" hidden style="height: 30px;" src="../../paylas.png" class="">
                </div>
            </div>
        </div>
    </div>
    <style>
    footer {
        display: flex;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: white;
        text-align: center;
        border-top: 1px solid lightgray;
        border-radius: 20px;
        padding-top: 10px;
    }
</style>
<footer>
    <% if (user) { %>
        <div style="flex: 2; align-items: center; justify-content: center;">
            <a href="/profil"><img src="<%= user.photo %>" style="height: 33px; top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; border-radius: 20px;">            </a>
        </div>
    <% }else{ %>
        <div style="flex: 2; align-items: center; justify-content: center;">
            <a href="/users/login"><ion-icon name="person-outline" style="color: gray;" class="text-3xl"></ion-icon></a>
        </div>
    <% } %> 
    <div style="flex: 2; align-items: center; justify-content: center;">
        <a href="/medya"><ion-icon name="camera-outline" style="color: gray;" class="text-4xl"></ion-icon></a>
    </div>
    <% if (user) { %>
        <% if (true) { %>
            <div style="flex: 2; align-items: center; justify-content: center;" uk-toggle="target: #create-post-modal">
                <img src="../../../paylas.png" style="height: 40px; top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; margin-bottom: 4px;">
            </div>
        <% }else{ %>
            <div style="flex: 2; align-items: center; justify-content: center;" uk-toggle="target: #create-post-modal">
                <img src="../../../paylas.png" style="height: 40px; top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; margin-bottom: 4px;">
            </div>
        <% } %> 
    <% }else{ %>

    <% } %> 
    <div style="flex: 2; align-items: center; justify-content: center;">
        <a href="/bildirim"><ion-icon name="notifications-outline" style="color: gray;" class="text-4xl"></ion-icon></a>
    </div>
    <div style="flex: 2; align-items: center; justify-content: center;">
        <a href="/mesaj"><ion-icon name="chatbubble-outline" style="color: gray;" class="text-4xl"></ion-icon></a>
    </div>
</footer>
    
