<% layout("../layout") %>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<header
style="display: flex; height: 50px; padding-left: 2vw; padding-top: 10px; border-radius: 20px;">
<div style="flex: 1;">
    <a href="/">
        <ion-icon name="chevron-back-outline" style="color: gray; float: left;" class="text-3xl"></ion-icon>
    </a>
</div>
<div style="flex: 15;">
    <h3 style="margin-top: 0px;" class="text-lg font-semibold">
        <%= medya.title.substring(0,40) %>
    </h3>
</div>
<div style="flex: 2;">
        <ion-icon class="text-2xl" style="margin-top: 0px;"name="share-outline"></ion-icon>
    <ion-icon class="text-2xl" style="margin-top: 0px;" name="arrow-forward-outline"></ion-icon>

    
</div>
</header>

        <div class="main_content">
            <div class="mcontainer">
                <div class="card" style="border-radius: 2px; margin-left: -10px; margin-right: -10px;">
                    <div style="height: 380px;" class="card-media h-44">
                        <div class="card-media-overly"></div>
                        <img src="<%= medya.kapak %>" style="border-radius: 2px; object-fit: cover;">
                        <span class="absolute bg-white px-2 py-1 text-sm rounded-md m-2"> Label</span>
                    </div>
                    <br>
                    <div style="display: flex; padding:4px">
                        <div style="flex: 1;">
                            <div class="profile_avatar">
                                <div class="profile_avatar_holder">
                                    <img src="<%= medya.user.photo %>"
                                        style="border-radius: 75px; height: 50px; width: 50px;">
                                </div>

                                <div class="user_status status_online"></div>
                                <div class="icon_change_photo" hidden>
                                    <ion-icon name="camera" class="text-xl"></ion-icon>
                                </div>
                            </div>
                        </div>
                        <div style="flex:10; padding-top: 3px;">
                            <span style="margin-top: 20px;"><b>Abdullah Bektaş</b></span><br>
                            <span style="margin-top: 20px;"><b><small><%= moment(medya.createdAt,"ddd MMM DD YYYY HH:mm:ss GMT Z'").fromNow(true) %> önce</small></b></span>
                        </div>
                        <div style="flex: 6;">
                            <h3 class="text-lg font-semibold" style=" text-align: right;">
                                <!-- <ion-icon style="margin-top: -2px;" class="text-2xl" name="chatbubble-outline">
                                </ion-icon> -->
                                <h3 class="text-lg font-semibold" style=" text-align: right;"> 
                                    <span style="text-transform: lowercase; display: inline-block;
                                        text-align: center;
                                        margin: 5px;
                                        border-radius: 100px;
                                        padding: 5px;
                                        text-transform: capitalize;
                                        background-color: #FFCDD2;
                                        border: 1px solid #C62828;
                                        color: #B71C1C;
                                        text-decoration: none;"> <a>Abone Ol</a> 
                                    </span> 
                                </h3>
                            </h3>
                            </h3>
                        </div>
                    </div>
                    <div class="card-body" style="margin-left: -7px;">
                        <!-- <div class="text-xs font-semibold uppercase text-yellow-500">
                            <%= medya.title %>
                        </div> -->
                        <div class="ext-lg font-medium mt-1 t" id="<%= medya._id %>">
                            <%- medya.aciklama.substring(0,150) %>... <a style="color: #03A9F4;" onclick="seeMore('<%=medya._id%>')">Devamını gör.</a>
                        </div>
                        <div class="ext-lg font-medium mt-1 t" style="display: none;" id="off<%= medya._id %>">
                            <%- medya.aciklama %> <a style="color: #03A9F4;" onclick="geriAl('<%=medya._id%>')">Geri al.</a>
                        </div>
                    </div>
                    <hr>
                    <div class="p-4 space-y-3">
                        <div class=" py-4 space-y-4 dark:border-" style="width: 100%;">
                            <div style="display: flex; flex-direction: row;">
                                <div style="flex:6">
                                    <a href="/profil"><img src="https://via.placeholder.com/200"
                                            style="border-radius: 75px; height: 50px; width: 50px; margin-left: -10px;"></a>
                                </div>
                                <div style="flex:6">
                                    <h3 class="text-lg font-semibold" style=" text-align: right;"> 
                                        <span style="text-transform: lowercase; display: inline-block;
                                            text-align: center;
                                            margin: 5px;
                                            border-radius: 100px;
                                            padding: 5px;
                                            text-transform: capitalize;
                                            background-color: #FFCDD2;
                                            border: 1px solid #C62828;
                                            color: #B71C1C;
                                            text-decoration: none;"> <a href="/hesap">Abone Ol</a> 
                                        </span> 
                                    </h3>
                                </div>
                            </div>
                            <div class="flex">
                                <div>
                                    <br>
                                    <p class="leading-6" id="yorum" style="font-size: 15pt; margin-top: -8px; margin-left: -10px;">
                                        <%- medya.aciklama.substring(0,150) %>...<a style="color: #03A9F4;" onclick="seeMore('yorum')">Devamını gör.</a>
                                    </p>
                                    <!-- <p class="leading-6" id="offyorum" style="font-size: 15pt; margin-top: -8px; margin-left: -10px; display: none;">
                                        <%- medya.aciklama %>  <a style="color: #03A9F4;" onclick="geriAl('yorum')">Geri al.</a>
                                    </p> -->
                                    <div class="row" style="margin-left: 2vw; margin-top: 7px;">
                                        <table>
                                            <tr>
                                                <!-- <td>
                                                    <div class="flex items-center">
                                                        <ion-icon name="logo-facebook" class="text-2xl"></ion-icon>
                                                        <span class="text-sm"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="flex items-center">
                                                        <ion-icon name="logo-whatsapp" style="padding-left: 9vw;"
                                                            class="text-2xl"></ion-icon>
                                                        <span class="text-sm"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="flex items-center">
                                                        <ion-icon name="logo-twitter" style="padding-left: 9vw;"
                                                            class="text-2xl"></ion-icon>
                                                        <span class="text-sm"></span>
                                                    </div>
                                                </td> -->
                                                <td>
                                                    <div class="flex items-center">
                                                        <ion-icon class="text-2xl"
                                                            name="heart-outline"></ion-icon>
                                                        <span class="text-sm"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="flex items-center">
                                                        <ion-icon style="padding-left: 23vw;" class="text-2xl"
                                                            name="chatbubble-ellipses-outline"></ion-icon>

                                                        <span class="text-sm"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="flex items-center">
                                                        <b>
                                                            <ion-icon class="text-2xl"
                                                                style="color:#03A9F4; font-weight:bolder; padding-left: 23vw;"
                                                                name="checkmark-outline"></ion-icon>

                                                        </b>
                                                        <span class="text-sm"></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="flex items-center">
                                                        <ion-icon class="text-2xl" style="padding-left: 23vw;"
                                                            name="share-outline"></ion-icon>
                                                        <span class="text-sm"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <hr style="margin-top: 4px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <% if (user) { %>
                <div style="flex: 2; align-items: center; justify-content: center;">
                    <a href="/profil"><img src="<%= user.photo %>" style="height: 33px; top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; border-radius: 20px;">            </a>
                </div>
            <% }else{ %>
                <div style="flex: 2; align-items: center; justify-content: center;">
                    <a href="/users/login"><ion-icon name="person-outline" style="color: gray;" class="text-3xl"></ion-icon></a>
                </div>
            <% } %> 
            <div style="flex: 2; align-items: center; justify-content: center;">
                <a href="/medya"><ion-icon name="camera-outline" style="color: gray;" class="text-4xl"></ion-icon></a>
            </div>
            <% if (user) { %>
                <% if (user.type == 1 && title == 1) { %>
                    <div style="flex: 2; align-items: center; justify-content: center;" uk-toggle="target: #create-post-modal">
                        <img src="../../../paylas.png" style="height: 40px; top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; margin-bottom: 4px;">
                    </div>
                <% }else{ %>
                    <div style="flex: 2; align-items: center; justify-content: center;" uk-toggle="target: #create-post-modal">
                        <img src="../../../paylas.png" style="height: 40px; top: 0px; bottom: 0px; left: 0px; right: 0px; margin:auto; margin-bottom: 4px;">
                    </div>
                <% } %> 
            <% }else{ %>
        
            <% } %> 
            <div style="flex: 2; align-items: center; justify-content: center;">
                <a href="/bildirim"><ion-icon name="notifications-outline" style="color: gray;" class="text-4xl"></ion-icon></a>
            </div>
            <div style="flex: 2; align-items: center; justify-content: center;">
                <a href="/mesaj"><ion-icon name="chatbubble-outline" style="color: gray;" class="text-4xl"></ion-icon></a>
            </div>
        </footer>
        <script>
            function seeMore(id) {
                document.getElementById(id).style.display = "none"
                document.getElementById("off"+id).style.display = "block"
            }

            function geriAl(id) {
                document.getElementById(id).style.display = "block"
                document.getElementById("off"+id).style.display = "none"
            }
        </script>